@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    /* colors  */
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);

    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);

    /* fonts */

    --LightFont: 'Lexend Deca', sans-serif;
    --strongerFont: 'Big Shoulders Display', cursive;
}

.container{
    width: 328px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.box1, .box2, .box3{
    max-height:442px;
    padding: 54px;
}
.box1{
    background-color: var(--BrightOrange);
}

.box2{
    background-color: var(--DarkCyan);

}
.box3{
    background-color: var(--VeryDarkCyan);
    
}

h1{
    font-size:36px;
    font-family: var(--strongerFont);
    text-transform: capitalize;
    color: var(--TransparentWhite);
}
p{
    font-size: 14px;
    font-family: var(--LightFont);
    color: var(--VeryLightGray);
    line-height: 1.6;
}
img{
    width: 66px;
}

.button{
    background-color: var(--VeryLightGray);
    max-width: 147px;
    border-radius: 34px/28px;
    text-align: center;
    padding: 18px 0;
    font-family: var(--LightFont);
    font-size: 15px;
    max-height: 50px;
}
.button1{
    color: var(--BrightOrange);
    border: 3px solid var(--BrightOrange);
}   
.button1:hover{
    background-color: var(--BrightOrange);
    border: 3px solid var(--VeryLightGray);
    color: var(--VeryLightGray);
    cursor: pointer;
}
.button2{
    color: var(--DarkCyan);
    border: 3px solid var(--DarkCyan);
}
.button2:hover{
    background-color: var(--DarkCyan);
    border: 3px solid var(--VeryLightGray);
    color: var(--VeryLightGray);
    cursor: pointer;
}
.button3{
    color: var(--VeryDarkCyan);
    border: 3px solid var(--VeryDarkCyan);
}
.button3:hover{
    background-color: var(--VeryDarkCyan);
    border: 3px solid var(--VeryLightGray);
    color: var(--VeryLightGray);
    cursor: pointer;
}
@media (min-width: 1000px) {
    
    .container{
        width:924px;
        height: 500px;
        display: flex;
        margin-top: 170px;
    }
    .button{
        margin-top: 45%;
    }

}